//  Color Modifiers
//  ---------------

.bg-standard
  background-color: background-color()

.bg-primary
  background-color: primary-color()

.bg-secondary
  background-color: secondary-color()

.bg-accent
  background-color: accent-color()

//  Grid Modifiers
//  --------------

.l-flex
  display: flex

.full-width
  width: 100vw

.full-height
  height: 100vh

//  Flexbox Modifiers
//  -----------------

.l-flex-column
  display: flex
  flex-direction: column

.align-start
  align-items: flex-start

.align-center
  align-items: center

.align-end
  align-items: flex-end

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

//  Typography Modifiers
//  --------------------

.type-decorative
  font-family: $font-decorative

.t-bold
  font-weight: 600

.t-light
  font-weight: 300

.t-lighter
  font-weight: 100
